doctype html
head
  title Bird Book Archive: Box Labels
  link(rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📦</text></svg>')

style.
  .box-label {
  }

each box in boxes
  div.box-label
    img(src=`/qr-codes/${box.slug}.png`)
    h4=box.name
