doctype html
head
  title Bird Book Archive: Box Labels
  link(rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📦</text></svg>')

style.
  .box-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    page-break-after: always;
    height: 500px;
  }

  @media print {
    .box-label {
      height: 8in;
    }
  }

  .box-label > * {
    margin-left: auto;
    margin-right: auto;
  }

  .box-label__qr-code {
    margin-top: auto;
    width: 300px;
    height: auto;
  }

  .box-label__text {
    font-size: 2em;
    margin-bottom: auto;
  }

each box in Object.entries(boxes)
  - const [id,info] = box
  div.box-label
    img.box-label__qr-code(src=`/qr-codes/box-${id}.png`)
    h4.box-label__text=info.name
