doctype html
head
  title Bird Book Archive
table
  thead
    tr
      th(scope='col') Thumbnail
      th(scope='col') Title
      th(scope='col') Author
      th(scope='col') Notes

  tbody
    each b in books
      tr
        td
          if b.ISBN
            img(src=b.ISBN, alt="Thumbnail for " + b.Title)
        td= b.Title
        td= b.Author
        td= b.Notes

