doctype html
head
  title Bird Book Archive
  link(rel='stylesheet', href='site.css')
div.book-list
  each b in books
    div.book
      div.book__thumbnail
        if b.ISBN
          img(src=b.ISBN, alt="Thumbnail for " + b.Title)
      h3.book__title= b.Title
      div.book__author= b.Author
      div.book__notes= b.Notes
