.filter-group {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-reset-button,
.filter-button {
  background-color: #9999EE66;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  border: 0;
}

.filter-reset-button:after {
  content: '\00293e';
}

.search {
  --margin: 5px;
  --border-width: 1px;
  margin: var(--margin);
  flex: 1;
  border: var(--border-width) solid gray;
  border-radius: 10px;
  padding: 5px;
  box-shadow: none;
}

.search:focus {
  outline: none;
  border: calc(var(--border-width) + 2px) solid #7d7dff;
  margin: calc(var(--margin) - 2px);
}

.search-help {
  flex-basis: 100%;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #DDD;
  overflow-y: hidden;
  height: 0;
}

body:not([data-search]) .search:focus + .search-help,
body[data-search=''] .search:focus + .search-help,
.search-help:hover {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-help ul {
  margin: 0;
}
.search[data-is-valid='no'] {
  border-color: #822;
}

.search-summary .search-term {
  display: inline-block;
  background-color: var(--leaf-color, var(--color));
  border-radius: 5px;
  border-style: solid;
  border-color: gray;
  border-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  margin: 5px;
}
.search-summary .search-term .search-term__label {
  font-style: italic;
}
.search-summary > .search-term { --color: #4444AA22; }
.search-summary > .search-term > .search-term { --color: #AAAA4422; }
.search-summary > .search-term > .search-term > .search-term { --color: #44444422; }

.search-summary .search-term .search-term__leaf {
  border-width: 0;
  padding: 5px;
  --leaf-color: #FFF8;
  background-blend-mode: lighten;
}

.search-summary > .search-term {
  border-width: 0;
}

.search-summary > .search-term__leaf {
  /* if the summary is this simple, there's no need to show it */
  display: none;
}

.filter-button[data-filter-selected='yes'] {
  background-color: #9999EEFF;
}
.book-list {
  --column-min-width: 350px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-min-width), 1fr));
  margin-top: 10px;
}

.book {
  display: var(--hidden, grid);
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    'thumbnail title'
    'thumbnail author'
    'thumbnail notes'
    'thumbnail location';

  grid-column-gap: 5px;

  border: 1px solid gray;
  border-radius: 10px;
  margin: 5px;
  overflow: hidden;

  background-color: var(--book-color);
}

.book__thumbnail {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  grid-area: thumbnail;
  display: flex;
}

.book__thumbnail a img {
  height: 100%;
}

.book__title {
  grid-area: title;
}

.book__author {
  grid-area: author;
}

.book__notes {
  grid-area: notes;
  font-style: italic;
}

.book__location {
  font-size: 1.5em;
  padding: 5px;
  margin-top: auto;
  direction: rtl;
  color: gray;
}

